<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
</head>
<body>

    <style>
        .layui-table td, .layui-table th{
            padding:9px 5px
        }
    </style>

<table class="layui-table">

    <thead>
    <tr>
        <th>书本名称</th>
        <th>封面</th>
        <th style="width:240px">保存封面</th>
        <th>设置详情</th>
        <th>显示/隐藏</th>
        <th>章节标题</th>
        <th>作者</th>
        <th>是否完结</th>
        <th>添加时间</th>
        <th>最近更新</th>
        <th>章节数量</th>
    </tr>
    </thead>
    <tbody>
    <volist name="booklist" id="item">
    <tr>
        <td>{$item.bookname}</td>
        <td><img src="{$item.cover}" style="width:30px;height:40px"></td>
        <td>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="bookid_{$item.bookid}">
            </div>
            <a href="javascript:void(0)" class="layui-btn layui-btn-normal layui-btn-sm js-savecover" rel="{$item.bookid}">保存</a>
        </td>
        <td><a href="javascript:void(0)" class="js-setdetail layui-btn layui-btn-sm" data-bookid="{$item.bookid}">设置详情</a></td>
        <td>
            <if condition="$item.isshow eq 1">
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm js-show layui-btn-danger" rel="0" data-bookid="{$item.bookid}">显示</a>
            <else />
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm js-show" rel="1" data-bookid="{$item.bookid}">隐藏</a>
            </if>
        </td>
        <td><a href="javascript:void(0)" id="{$item.bookid}" class="js-caiji layui-btn layui-btn-normal layui-btn-sm">采集</a></td>
        <td>{$item.author}</td>
        <td>
            <if condition="$item.isover eq 1">
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-danger js-isover" rel="0" data-bookid="{$item.bookid}">完结</a>
            <else />
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm js-isover" rel="1" data-bookid="{$item.bookid}">续集</a>
            </if>
        </td>
        <td>{$item.ctime}</td>
        <td>{$item.updatetime}</td>
        <td>{$item.total}</td>
    </tr>
    </volist>
    </tbody>
</table>


<script>
    $(function(){

        $('.js-caiji').click(function(){
            var id = $(this).attr('id');
            layer.open({
                type: 2,
                title:'采集章节',
                content: './index.php?m=Adminwz&c=Index&a=lists&id='+id,
                area: ['1000px', '500px'],
                offset: '20px'
            });
        })



        $("#addbook").click(function(){
            layer.open({
                type: 2,
                title:'添加书本',
                content: './index.php?m=Adminwz&c=Index&a=addbookinfo',
                area: ['1000px', '500px'],
                offset: '20px'
            });
        })

//        $('.js-getcontent').click(function(){
//            var def_bookid=$(this).attr('id');
//            // console.log(def_bookid)
//            layer.open({
//                type: 2,
//                title:'采集书本章节内容',
//                content: './index.php?m=Adminwz&c=Index&a=getcontent&def_bookid='+def_bookid,
//                area: ['1000px', '500px'],
//                offset: '20px'
//            });
//        })





        //设置显示
        $('.js-show').click(function(){
            var isshow=$(this).attr('rel');
            var bookid=$(this).attr('data-bookid');
            var href=window.location.href;
            $.post('./index.php?m=Adminwz&c=Index&a=setshow',{isshow:isshow,bookid:bookid},function(res){
                if(res.status==1){
                    window.location.href=href
                }
            },'json')
        })


        //设置完结
        $('.js-isover').click(function(){
            var isover=$(this).attr('rel');
            var bookid=$(this).attr('data-bookid');
            var href=window.location.href;
            $.post('./index.php?m=Adminwz&c=Index&a=setover',{isover:isover,bookid:bookid},function(res){
                if(res.status==1){
                    window.location.href=href
                }
            },'json')
        })





        //设置详情
        $('.js-setdetail').click(function(){
            var bookid = $(this).attr('data-bookid')
            layer.open({
                type: 2,
                title:'添加详情',
                content: './index.php?m=Adminwz&c=Index&a=setdetail&bookid='+bookid,
                area: ['1000px', '500px'],
                offset: '20px'
            });
        })


        //设置封面图片名称
        
        $('.js-savecover').click(function(){
            var bookid=$(this).attr('rel');
            var cover=$('#bookid_'+bookid).val();
            $.post('./index.php?m=Adminwz&c=Index&a=savecover',{bookid:bookid,cover:cover},function(res){
                
            },'json')
        })



    })
</script>

</body>
</html>