<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
    <link href="{$path}/css/css.css" rel="stylesheet">
</head>
<body>

<style>
    .layui-table td{padding:9px 10px;}
</style>
<table class="layui-table">

    <thead>

    <tr>
        <th width="30">全选</th>
        <th width="400">章节名称</th>
        <th width="160">添加时间</th>
        <th width="160">更新时间</th>
        <th width="40">状态</th>
        <th width="220" colspan="3">操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="data" id="item">
        <tr>
            <td style="text-align: center"><if condition="$item.isshow eq 0"><input type="checkbox" style="width:20px;height:20px" value="{$item.chapterid}" class="js-checkbox"></if></td>
            <td><a href="javascript:void(0)" id="{$item.chapterid}" class="js-getdetail">{$item.title}</a></td>
            <td>{$item.ctime}</td>
            <td>{$item.updatetime}</td>
            <td>
                <if condition="$item.isshow eq 0"><a href="javascript:void(0)" class="layui-btn layui-btn-sm">隐藏</a></if>
                <if condition="$item.isshow eq 1"><a href="javascript:void(0)" class="layui-btn layui-btn-normal layui-btn-sm">显示</a></if>
                <if condition="$item.isshow eq 2"><a href="javascript:void(0)" class="layui-btn layui-btn-danger layui-btn-sm">忽略</a></if>
            </td>
            <td><a href="javascript:void(0)" data-chapterid="{$item.chapterid}" rel="0" class="layui-btn layui-btn-sm js-isshow">隐藏</a></td>
            <td><a href="javascript:void(0)" data-chapterid="{$item.chapterid}" rel="1" class="layui-btn layui-btn-normal layui-btn-sm js-isshow">显示</a></td>
            <td><a href="javascript:void(0)" data-chapterid="{$item.chapterid}" rel="2" class="layui-btn layui-btn-danger layui-btn-sm js-isshow">忽略</a></td>
        </tr>
    </volist>
    <tr>
        <td colspan="8">
            <a href="javascript:void(0)" class="layui-btn" id="selectall">全选</a>
            <a href="javascript:void(0)" class="layui-btn" id="saveall">保存</a>
        </td>
    </tr>
    
    </tbody>
</table>

{$page}

<script>
    $(function(){
        $('.js-getdetail').click(function(){
            var id=$(this).attr('id');
            layer.open({
                title:'章节内容',
                type: 2,
                content: '/index.php?m=Adminwz&c=Index&a=getdetail&id='+id, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                area: ['800px', '450px'],
                offset: ['20px']
            });
        })
        
        $('.js-isshow').click(function(){
            var chapterid=$(this).attr('data-chapterid');
            var isshow=$(this).attr('rel');
            var href=window.location.href
            $.post('./index.php?m=Adminwz&c=Index&a=setchapter',{chapterid:chapterid,isshow:isshow},function(res){
                if(res.status==1){
                    layer.msg('修改成功', function(){
                        window.location.href=href;
                    })
                    
                }
            },'json')
        })
        
        $(".js-checkbox").click(function(){
            if($(this).attr("checked")){
                $(this).removeAttr("checked");
            }else{
                $(this).attr("checked",'true');
            }
            
        })
        
        $('#selectall').click(function(){
           $(".js-checkbox").attr("checked",'true');//全选 
        })
        
        $('#saveall').click(function(){
            var chapter=[];
            var href=window.location.href;
           $(".js-checkbox").each(function(){
               if($(this).attr('checked')){
                   chapter.push($(this).val())
               }
                
           })
           console.log(chapter);
           if(chapter.length>0){
               $.post('./index.php?m=Adminwz&c=Index&a=savedata',{chapter:chapter.join(',')},function(res){
                   if(res.status==1){
                       layer.msg('保存成功',function(){
                           window.location.href=href
                       })
                   }
               },'json')
           }else{
               layer.msg('暂无选中数据')
           }
        })
    })


</script>

</body>
</html>