<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>挂机采集文章内容</title>
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
</head>
<body>


<table class="layui-table">

    <thead>

    <tr>
        <td><a href="javascript:void(0)" class="layui-btn layui-btn-norma js-getchapter">采集</a></td>
        <td colspan="2">目标采集数量：{$count}</td>
    </tr>

    <tr>
        <th>原始章节序号</th>
        <th>书本章节名称</th>
    </tr>
    </thead>
    <tbody>
    <volist name="data" id="item">
        <tr>
            <td>{$item.def_chapterid}</td>
            <td>{$item.title}</td>
        </tr>
    </volist>

    
    </tbody>
</table>


<script>

    var data = '{$datastr}' ?  JSON.parse('{$datastr}') : '';
    var interval;
    var run='{$run}';
    var isfinish='{$isfinish}';

    console.log(data)



    function getchapter() {

        layer.load();
        setInterval(function(){

            var item = data.shift();

            console.log(item)
            console.log(data.length)

            if (item) {
                $.post('./index.php?m=Adminwz&c=Index&a=catchcontent',
                    {def_bookid: item.def_bookid, def_chapterid: item.def_chapterid},
                    function (res) {
                        console.log(res)
                    }, 'json')
            }else{
                var href='./index.php?m=Adminwz&c=Index&a=getcontent&run=1';
                window.location.href=href;
            }
        },1000)

    }

    if(run==1&&(!isfinish)){
        getchapter();
    }




    $(function(){
        $('.js-getchapter').click(function(){
            getchapter();
        })

    })
</script>

</body>
</html>