<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
    <link href="{$path}/css/css.css" rel="stylesheet">
</head>
<body>


<table class="layui-table">

    <thead>

    <tr>
        <th>{$data.title}</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>{$data.content}</td>
        </tr>

    </tbody>
</table>


</body>
</html>