<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
    <link href="{$path}/css/css.css" rel="stylesheet">
</head>
<body>


<table class="layui-table">

    <thead>

    <tr>
        <th>书本封面</th>
        <th>书本名称</th>
        <th>更新时间</th>
    </tr>
    </thead>
    <tbody>
    <volist name="data" id="item">
        <tr>
            <td><img src="{$item.cover}" style="width:30px;height:50px" /></td>
            <td><a href="javascript:void(0)" class="js-chapterlist" rel="{$item.def_bookid}">{$item.bookname}</a></td>
            <td>{$item.updatetime}</td>
        </tr>
    </volist>

    
    </tbody>
</table>

{$page}

<script>

    var data = '{$datastr}' ?  JSON.parse('{$datastr}') : '';
    var interval;
    console.log(data)

    function getchapter(){
        var item = data.shift();
        console.log(item);
        $.post('./index.php?m=Adminwz&c=Index&a=getdetial',
            {def_bookid:item.def_bookid,def_chapterid:item.def_chapterid},
            function(){},'json')
    }




    $(function(){

        $('.js-getchapter').click(function(){
            layer.load();
            if(data.length>0){
                interval = setInterval(function(){
                    if(data.length==0){
                        clearInterval(interval);
                        layer.open({
                            title: '采集完成'
                            ,content: '已经采集完所有数据'
                        });

                    }else{
                        getchapter()
                    }

                },1000)

            }

        })


        $('.js-chapterlist').click(function(){
            layer.open({
                title:'小说内容列表',
                type: 2,
                content: '/index.php?m=Adminwz&c=Index&a=chapterlist', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                area: ['1200px', '500px'],
                offset: ['20px']
            });
        })







    })
</script>

</body>
</html>