<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
</head>
<body>



<table class="layui-table">

    <thead>
    <tr>
        <th colspan="2">已保存的最后一条数据</th>
    </tr>
    </thead>
    <tbody>
    <volist name="lasts" id="item">
        <tr>
            <td>{$item.def_chapterid}</td>
            <td>{$item.title}</td>
        </tr>
    </volist>
    </tbody>



    <thead>

    <tr>
        <th colspan="2" style="font-size: 16px;color:#FF5722">以下是获取的最新数据</th>
    </tr>

    <tr>
        <th>原始章节序号</th>
        <th>书本章节名称</th>
    </tr>
    </thead>
    <tbody>
    <volist name="lists" id="item">
        <tr>
            <td>{$item.def_chapterid}</td>
            <td>{$item.title}</td>
        </tr>
    </volist>

    <tr>
        <td colspan="2"><a href="javascript:void(0)" class="layui-btn layui-btn-norma js-save">保存</a></td>
    </tr>
    </tbody>
</table>


<script>

    var lists = '{$liststr}';

    var bookid='{$bookid}';

    $(function(){

        $('.js-save').click(function(){
            if(lists.length>0){
                layer.msg('暂无数据保存');
                return;
            }
            var index = layer.load()
            $.post('./index.php?m=Adminwz&c=Index&a=savelist',{lists:lists,bookid:bookid},function(res){
                if(res.status==1){
                    layer.close(index);
                    layer.open({
                        title:'温馨提示',
                        content: '保存成功',
                        // yes: function(index){
                        //     console.log(index)
                        //     //do something
                        //     layer.close(index); //如果设定了yes回调，需进行手工关闭
                        //     window.location.href=href;
                        // }
                    });
                }
            },'json')
        })

    })
</script>

</body>
</html>