<include file="./Youmi/Home/View/Index/header.html" />


<body>

<div class="wrapper">

    <include file="./Youmi/Home/View/Index/nav.html" />
    
    <div class="content">

        <div class="contenttop clearfix">

            <div class="contenttop-left  clearfix">
                <volist name="books" id="item">

                <div class="wrapbox">
                    <a href="" class="wrapbox-image">
                        <img src="{$item.cover}"/>
                    </a>
                    <div class="wrapbox-right">
                        <div class="wrapbox-right-t clearfix">
                            <a href="./index.php?m=Youmi&c=Index&a=book&bookid={$item.bookid}" class="bookname" target="_blank">{$item.bookname}</a>
                            <span class="author">{$item.author}</span>
                        </div>
                        <div class="wrapbox-right-m">{$item.description}</div>
                    </div>
                </div>

                </volist>
            </div>

            <div class="contenttop-right">
                <h2 class="right-title">经典推荐</h2>
                <ul class="right-list">
                    <volist name="jingdian" id="item">
                    <li>
                        <span class="right-cate">[{$item.category}]
                        </span><a href="./index.php?m=Youmi&c=Index&a=book&bookid={$item.bookid}" class="right-bookname">{$item.bookname}
                        </a><span class="right-author">{$item.author}</span>
                    </li>
                    </volist>
                </ul>
            </div>

        </div>

        <div class="contentmain clearfix">
            <volist name="bookslists" id="bookslist" >

            <div class="contentmain-area">
                <h2 class="right-title">{$bookslist.category}</h2>
                <volist name="bookslist['books']" id="book" key="k">

                <if condition="$k eq 1">
                    <div class="area-book">
                        <a href="javascript:void(0)" class="bookcover">
                            <img src="{$book.cover}">
                        </a>
                        <div class="bookinfo">
                            <a href="/index.php?m=Youmi&c=Index&a=book&bookid={$book.bookid}" class="booktitle">{$book.bookname}</a>
                            <p class="bookmsg">{$book.description}</p>
                        </div>
                    </div>
                <else/>


                <div class="category-list">

                    <span class="c-listarea-l"><a  href="./index.php?m=Youmi&c=Index&a=book&bookid={$book.bookid}" class="c-bookname">{$book.bookname}
                    </a><a href="./index.php?m=Youmi&c=Index&a=chapter&chapterid={$book.chapterid}" class="book-latest">&nbsp;&nbsp;{$book.chaptertitle}</a>
                    </span><span class="c-listarea-r">{$book.author}</span>

                </div>

                </if>

                </volist>
            </div>

            </volist>
        </div>

        <div class="contentfoot clearfix">
            <div class="contentfoot-left  clearfix">
                <h2 class="right-title">最近更新小说列表</h2>
                <ul class="updatalist">
                    <volist name="latestupdate" id="latest">
                    <li>
                        <span class="update-cate">[{$latest.category}]
                        </span><a href="./index.php?m=Youmi&c=Index&a=book&bookid={$latest.bookid}" class="update-bookname">{$latest.bookname}
                        </a><a href="./index.php?m=Youmi&c=Index&a=chapter&chapterid={$latest.chapter_chapterid}" class="update-chaptername">{$latest.chapter_title}
                        </a><span class="update-bookauthor">{$latest.author}
                        </span><span class="update-date">{$latest.updatetime}</span>
                    </li>
                    </volist>
                </ul>
            </div>
            <div class="contentfoot-right">
                <h2 class="right-title">最新入库小说</h2>

                <ul class="right-list" style="margin-top:0">
                    <volist name="latestadd" id="item">
                    <li>
                        <a href="./index.php?m=Youmi&c=Index&a=book&bookid={$item.bookid}" class="right-bookname">{$item.bookname}
                        </a><a href="javascript:void(0)" class="right-author">{$item.author}</a>
                    </li>
                    </volist>
                </ul>


            </div>
        </div>


    </div>


    <div class="footer">
        <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
        <p>Copyright © 2018 悠米小说 All Rights Reserved.</p>
    </div>
</div>


</body>
</html>