<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./Xiaoshuo/Home/View/js/jquery-1.11.1.min.js"></script>
    <link href="./Xiaoshuo/Home/View/css/global.css?v={$version}" rel="stylesheet">
    <link href="./Xiaoshuo/Home/View/layui/css/layui.css" rel="stylesheet">
    <script src="./Xiaoshuo/Home/View/layui/layui.all.js"></script>
    <script src="./Xiaoshuo/Home/View/js/urls.js?v={$version}"></script>

</head>


<body>
<a href="javascript:void(0)" class="layui-btn layui-btn-radius" id="addCategory">添加分类</a>
<hr/>


<table class="layui-table">
    <colgroup>
        <col width="200">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>分类</th>
        <th>是否显示</th>
        <th colspan="2">设置排序</th>
    </tr>
    </thead>
    <tbody>
        <volist name="category" id="item">
            <tr>
                <td>{$item.name}</td>
                <td>
                    <a href="javascript:void(0)" class="layui-btn layui-btn-sm js-setsshow" data-isshow="{$item.isshow}" id="{$item.category_id}" >
                        <if condition="$item.isshow eq 1" >显示<else/>隐藏</if>
                    </a>
                </td>
                <td><input placeholder="设置排序" class="layui-input" value="{$item.issort}" id="setorder_{$item.category_id}"/></td>
                <td><a href="#" class="layui-btn layui-btn-sm js-setsort" data-id="{$item.category_id}">确定</a></td>
            </tr>
        </volist>

    </tbody>
</table>






</body>

<script>
    $(function(){
        $('#addCategory').click(function(){

            var layer = layui.layer;

            layer.open({
                 title:'添加分类',
                 area:['800px','580px'],
                 type: 2,
                 content: ADDCATEGORY
             });

        })


        //设置分类是否显示

        $('.js-setsshow').on('click',function(){
            var isshow = $(this).attr('data-isshow');
            var category_id=$(this).attr('id');
            var show;

            if(isshow==1){
                show=0;
            }else{
                show=1;
            }

            $.post(SETCATEGORYSHOW,{isshow:show,category_id:category_id},function(data){
                var href=window.location.href;
                if(data.status==1){
                     window.location.href=href;
                }
            },'json')

        })


        //设置分类排序

        $('.js-setsort').click(function(){
            var id = $(this).attr('data-id');
            var issort=$('#setorder_'+id).val();
            var href=window.location.href;
            $.post(SETSORT,{id:id,issort:issort},function(data){
                if(data.status==1){
                    window.location.href=href
                }
            },'json')
        })


    })
</script>


</html>
