<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./Home/View/js/jquery-1.11.1.min.js"></script>
    <link href="./Home/View/css/global.css" rel="stylesheet">
    <link href="./Home/View/layui/css/layui.css" rel="stylesheet">
    <script src="./Home/View/layui/layui.all.js"></script>
    <script src="./Home/View/js/urls.js"></script>

</head>


<body>

<a href="javascript:void(0)" class="layui-btn layui-btn-radius" id="addbook">添加书本</a>
<hr/>

<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>书名</th>
        <th>创建时间</th>
        <th>操作</th>
        <th>封面图片</th>
        <th>封面</th>
        <th>采集链接</th>
    </tr>
    </thead>
    <tbody>
        <volist name="books" id="book">
            <tr>
                <td>{$book.bookname}</td>
                <td>{$book.ctime}</td>
                <td><a href="javascript:void(0)" data-src="/index.php?m=Home&c=Index&a=getbook&id={$book.bookid}" class="getdetail">获取详情</a></td>
                <td><img src="{$book.cover}"></td>
                <td><a href="">上传封面</a></td>
                <td>{$book.originalurl}</td>
            </tr>
        </volist>
    </tbody>
</table>

<script>
    $(function(){
        $('#addbook').click(function(){

            layer.open({
                type: 2,
                title:'添加书本',
                content:'./index.php?m=Home&c=Index&a=addbook',
                area:["900px","500px"]

            });
        })
    })
</script>


</body>
</html>