<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./Xiaoshuo/Home/View/js/jquery-1.11.1.min.js"></script>
    <link href="./Xiaoshuo/Home/View/css/global.css?v={$version}" rel="stylesheet">
    <link href="./Xiaoshuo/Home/View/layui/css/layui.css" rel="stylesheet">
    <script src="./Xiaoshuo/Home/View/layui/layui.all.js"></script>
    <script src="./Xiaoshuo/Home/View/js/urls.js?v={$version}"></script>

</head>


<body>

<a href="javascript:void(0)" class="layui-btn layui-btn-radius" id="addbook">添加书本</a>
<hr/>

<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="250">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>书名</th>
        <th>封面图片</th>
        <th>基本信息</th>
        <th>获取音频</th>
        <th>封面名称</th>
        <th>采集链接</th>
    </tr>
    </thead>
    <tbody>

        <volist name="books" id="book">
            <tr>
                <td><a href="javascript:void(0)" data-src="./index.php?m=Home&c=Index&a=voicelist&id={$book.bookid}" class="getvoicelist">{$book.bookname}</a></td>
                <td><img src="{$book.cover}"></td>
                <td><a href="javascript:void(0)" data-src="./index.php?m=Home&c=Index&a=getbook&id={$book.bookid}" class="getdetail layui-btn layui-btn-sm">获取详情</a></td>
                <td><a href="javascript:void(0)" data-src="./index.php?m=Home&c=Ajax&a=index&id={$book.bookid}" class="getvoice layui-btn layui-btn-sm">获取音频</a></td>

                <td>
                    <!--
                    <a href="javascript:void(0)" data-src="./index.php?m=Home&c=Index&a=getpicture&id={$book.bookid}" class="getpicture layui-btn layui-btn-sm">保存封面</a>
                    <a href="javascript:void(0)" data-src="./index.php?m=Home&c=Index&a=getpicturebyurl&id={$book.bookid}" class="getpicturebyurl layui-btn layui-btn-sm">通过URL</a>
                    <a href="javascript:void(0)" data-src="./index.php?m=Home&c=Index&a=getpictureupload&id={$book.bookid}" class="getpictureupload layui-btn layui-btn-sm">上传</a>
                    -->

                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text"  placeholder="请输入图片名称" class="layui-input" id="book_{$book.bookid}" data-id="{$book.bookid}" value="{$book.cover}"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux" style="padding:3px 0 0 0!important;margin:0">
                            <a href="javascript:void(0)" class="layui-btn layui-btn-sm js-savecover" data-id="{$book.bookid}" >保存</a>
                        </div>
                    </div>

                </td>

                <td>{$book.originalurl}</td>
            </tr>
        </volist>

    </tbody>
</table>

<div class="pagenav">
    {$pagenav}
</div>

<script>
    $(function(){
        $('#addbook').click(function(){

            layer.open({
                type: 2,
                title:'添加书本',
                content:'./index.php?m=Home&c=Index&a=addbook',
                area:["900px","500px"],
                offset: ['20px']

            });
        })



        $('.getvoicelist').click(function(){
            var url=$(this).attr('data-src');

            layer.open({
                type: 2,
                title:'音频列表',
                content:url,
                area:["1000px","500px"],
                offset: ['20px']

            });
        })


        $('.getdetail').click(function(){
            var url=$(this).attr('data-src');

            layer.open({
                type: 2,
                title:'获取书本信息',
                content:url,
                area:["1000px","500px"],
                offset: ['20px']

            });
        })


        //保存图片
        $('.getpicture').click(function(){
            var url=$(this).attr('data-src');

            layer.open({
                type: 2,
                title:'获取书本封面图',
                content:url,
                area:["1000px","500px"],
                offset: ['20px']

            });
        })


        //通过URL保存

        $('.getpicturebyurl').click(function(){
            var url=$(this).attr('data-src');

            layer.open({
                type: 2,
                title:'获取书本封面图通过URL',
                content:url,
                area:["1000px","500px"],
                offset: ['20px']

            });
        })


        //直接上传图片

        $('.getpictureupload').click(function(){
            var url=$(this).attr('data-src');

            layer.open({
                type: 2,
                title:'上传封面图',
                content:url,
                area:["1000px","500px"],
                offset: ['20px']

            });
        })


        //获取音频
        $('.getvoice').click(function(){
            var url=$(this).attr('data-src');

            layer.open({
                type: 2,
                title:'获取音频链接',
                content:url,
                area:["1000px","500px"],
                offset: ['20px']

            });
        })



        $('.js-savecover').click(function(){
            var id = $(this).attr('data-id');
            var cover='';
            if(id){
                cover = $("#book_"+id).val();
                if(cover){

                    $.post(SAVECOVER,{id:id,cover:cover},function(ret){
                        if(ret.status==1){
                            layer.msg('保存成功');
                            $('#book_'+id).val(ret.data.cover)
                        }
                    },'json')

                }else{
                    layer.msg('输入图片名称');
                }

            }
        })




    })
</script>


</body>
</html>