<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./Xiaoshuo/Home/View/js/jquery-1.11.1.min.js"></script>
    <link href="./Xiaoshuo/Home/View/css/global.css?v={$version}" rel="stylesheet">
    <link href="./Xiaoshuo/Home/View/layui/css/layui.css" rel="stylesheet">
    <script src="./Xiaoshuo/Home/View/layui/layui.all.js"></script>
    <script src="./Xiaoshuo/Home/View/js/urls.js?v={$version}"></script>

</head>


<body>

书本管理
<hr class="layui-bg-cyan">

<div class="layui-row menu layui-bg-green">
    <div class="layui-col-md1">
        <a href="./index.php?m=Home&c=Index&a=control" <if condition="$category_id eq ''">class="current"</if>>全部</a>
    </div>
    <volist id="item" name="category">
        <div class="layui-col-md1">
            <a href="./index.php?m=Home&c=Index&a=control&cid={$item.category_id}"  <if condition="$item.category_id eq $category_id">class="current"</if>>{$item.name}</a>
        </div>
    </volist>
</div>

<table class="layui-table">
    <colgroup>
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>封面图标</th>
        <th>书名</th>
        <th>显示/隐藏</th>
        <th>设置热搜</th>
        <!--<th>首页分类推荐</th>-->
        <th>所在分类</th>
        <th>集数</th>
    </tr>
    </thead>
    <tbody>

    <volist name="books" id="item">
        <tr>
            <td><img src="{$item.cover}" style="width:30px;height:40px;display:block"></td>
            <td>{$item.bookname}</td>
            <td>
                <a href="javascript:void(0)" class="layui-btn <if condition='$item.isshow eq 0'>layui-btn-danger</if> js-setshow layui-btn-sm" data-bookid="{$item.bookid}" data-isshow="{$item.isshow}">
                    <if condition="$item.isshow eq 1">显示<else/>隐藏</if>
                </a>
            </td>

            <!--<td>-->
                <!--<a href="javascript:void(0)" data-id="{$item.bookid}" data-todayrecommend="{$item.todayrecommend}" class="js-setrecommend layui-btn layui-btn-sm <if condition='$item.todayrecommend neq 1'>layui-btn-danger</if>"><if condition="$item.todayrecommend eq 1">推荐<else/>不推荐</if></a>-->
            <!--</td>-->
            <td>
                <div class="layui-input-inline" style="width:100px">
                    <input type="number" class="layui-input" value="{$item.ishot}" id="ishot_{$item.bookid}">
                </div>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm js-sethot" data-id="{$item.bookid}">设置热搜</a>
            </td>


            <!--<td>-->
                <!--<a href="javascript:void(0)" data-id="{$item.bookid}" data-settoindex="{$item.settoindex}" class="js-settoindex layui-btn layui-btn-sm <if condition='$item.settoindex neq 1'>layui-btn-danger</if>"><if condition="$item.settoindex eq 1">推荐<else/>不推荐</if></a>-->
            <!--</td>-->

            <td>
                {$item.category}
            </td>

            <td>
                {$item.num}
            </td>

        </tr>
    </volist>

    </tbody>
</table>


<div class="pagenav">
    {$pagenav}
</div>


<script>
    $(function(){
        $('.js-setshow').on('click',function(){
            var bookid = $(this).attr('data-bookid');
            var isshow = $(this).attr('data-isshow');
            var show;
            if(isshow==1){
                show=0
            }else{
                show=1
            }
            var href=window.location.href
            $.post(SETBOOKSHOW,{bookid:bookid,isshow:show},function(data){
                if(data.status==1){
                    window.location.href=href;
                }
            },'json')
        })



        $('.js-setrecommend').on('click',function(){
            var id=$(this).attr('data-id');
            var todayrecommend=$(this).attr('data-todayrecommend');
            var recommend;
            if(todayrecommend==1){
                recommend=0;
            }else{
                recommend=1;
            }
            var href=window.location.href;
            $.post(SETTODAYRECOMMEND,{bookid:id,todayrecommend:recommend},function(data){
                if(data.status==1){
                    window.location.href=href;
                }
            },'json')
        })


        //首页分类推荐
        $('.js-settoindex').click(function(){
            var id=$(this).attr('data-id');
            var settoindex=$(this).attr('data-settoindex');

            var settoindexval;

            if(settoindex==1){
                settoindexval=0
            }else{
                settoindexval=1
            }

            var href=window.location.href;

            $.post(SETCATEGORYTOINDEX,{bookid:id,settoindex:settoindexval},function(data){
                if(data.status==1){
                    window.location.href=href;
                }
            },'json')
        })

        //设置热搜

        $('.js-sethot').click(function(){
            var id = $(this).attr('data-id');
            var val = $('#ishot_'+id).val();

            var href = window.location.href;

            $.post(SETHOTSEARCH,{id:id,val:val},function(ret){
                if(ret.status==1){
                    window.location.href=href
                }
            },'json')

        })




    })
</script>

</body>
</html>