<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./Xiaoshuo/Home/View/js/jquery-1.11.1.min.js"></script>
    <link href="./Xiaoshuo/Home/View/css/global.css" rel="stylesheet">
    <link href="./Xiaoshuo/Home/View/layui/css/layui.css" rel="stylesheet">
    <script src="./Xiaoshuo/Home/View/layui/layui.all.js"></script>
    <script src="./Xiaoshuo/Home/View/js/urls.js?v=1"></script>
</head>
<body>
<div class="layui-form" style="width:700px;margin:120px auto 0">
  <div class="layui-form-item">
    <label class="layui-form-label">名称：</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" />
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">网址：</label>
    <div class="layui-input-block">
      <input type="text" name="website" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" />
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">显示</label>
    <div class="layui-input-inline">
      <input type="text" name="isshow" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="1" />
    </div>
  </div>
    
   <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
    </div>
  </div>
    
    
</div>

    
<script>
//Demo
$(function(){
    layui.use('form', function(){
        var form = layui.form;
        var href=window.parent.window.location.href;
        form.on('submit(formDemo)', function(data){
            console.log(JSON.stringify(data.field));
            $.post(ADDFRIEND,data.field,function(ret){
                if(ret.status==1){
                   window.parent.location.href=href;
                }
            },'json')
        });
    });
})

</script>
</body>
</html>