<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./Xiaoshuo/Home/View/js/jquery-1.11.1.min.js"></script>
    <link href="./Xiaoshuo/Home/View/css/global.css?v={$version}" rel="stylesheet">
    <link href="./Xiaoshuo/Home/View/layui/css/layui.css" rel="stylesheet">
    <script src="./Xiaoshuo/Home/View/layui/layui.all.js"></script>
    <script src="./Xiaoshuo/Home/View/js/urls.js?v={$version}"></script>
</head>
<body>


    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
        </colgroup>

        <tbody>
        <tr>
            <td><img src="{$src}"/></td>
            <td><a href="" class="layui-btn">保存</a></td>
        </tr>

        </tbody>
    </table>



</body>
</html>