<include file="./Youmi/Home/View/Index/header.html" />


<body>

<div class="wrapper">
    
    <include file="./Youmi/Home/View/Index/nav.html" />

    <div class="content">
        <div class="breadcrumb"><a href="{$domain}">悠米小说</a> > <a href="{:U('category/'.$xclass['cid'])}" title="{$xclass.category}" target="_blank">{$xclass.category}</a> > {$book.bookname} 最新章节列表</div>
        <div class="bookarea">
            <span class="bookimage"><img src="{$book.cover}" alt="{$book.bookname}"></span>
            <div class="bookarea-r">
                <h1 class="bookarea-bn">{$book.bookname}</h1>
                <div class="clearfix bookarea-items">
                    <div>作    者：{$book.author}</div>
                    <div>状    态：<if condition="$book.isover eq 1">完结<else/>连载中...</if></div>
                    <div>最后更新：{$book.updatetime}</div>
                    <div class="latestchapter">最新章节：<a href="{:U('chapter/'.$lastest['chapterid'])}" title="{$lastest.title}" target="_blank">{$lastest.title}</a></div>
                </div>
                <div class="bookarea-desc">{$book.description}</div>
            </div>
        </div>
        <ul class="capterlist clearfix">
            <volist name="chapter" id="item">
            <li><a href="{:U('chapter/'.$item['chapterid'])}" title="{$item.title}">{$item.title}</a></li>
            </volist>
        </ul>


    </div>


    <include file="./Youmi/Home/View/Index/footer.html" />
</div>


</body>
</html>