<include file="./Youmi/Home/View/Index/header.html" />


<body>

<div class="wrapper">
    
    <include file="./Youmi/Home/View/Index/nav.html" />

    <div class="content">
        <div class="categorylist clearfix">
            <volist name="data" id="item">
            <div class="categorylist-box">
                <a href="{:U('book/'.$item['bookid'])}" class="category-image" title="{$item.bookname}" target="_blank"><img src="{$item.cover}" alt="{$item.bookname}" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="{:U('book/'.$item['bookid'])}" class="category-bookname" title="{$item.bookname}" target="_blank">{$item.bookname}</a>
                        <span class="cateb-a">{$item.author}</span>
                    </div>
                    <div class="category-desc">{$item.description}</div>
                </div>
            </div>
            </volist>
        </div>
        <div class="contentfoot clearfix" style="margin:0">
            <div class="contentfoot-left  clearfix">
                <h2 class="right-title">{$currentCategory}最近更新列表</h2>
                <ul class="updatalist">
                    <volist name="latestupdate" id="item">
                    <li>
                        <a href="{:U('book/'.$item['bookid'])}" class="update-bookname" title="{$item.bookname}" target="_blank" style="width:200px">{$item.bookname}
                        </a><a href="{:U('chapter/'.$item['chapter_chapterid'])}" class="update-chaptername" title="{$item.chapter_title}" target="_blank" style="width:330px">{$item.chapter_title}
                        </a><span class="update-bookauthor">{$item.author}
                        </span><span class="update-date">{$item.updatetime}</span>
                    </li>
                    </volist>
                </ul>
            </div>
            <div class="contentfoot-right">
                <h2 class="right-title">最新入库小说</h2>

                <ul class="right-list" style="margin-top:0">
                    <volist name="latestadd" id="item">
                    <li>
                        <a href="{:U('book/'.$item['bookid'])}" class="right-bookname" title="{$item.bookname}" target="_blank">{$item.bookname}
                        </a><span class="right-author">{$item.author}</span>
                    </li>
                    </volist>
                </ul>


            </div>
        </div>


    </div>


    <include file="./Youmi/Home/View/Index/footer.html" />
</div>


</body>
</html>
