<include file="./Youmi/Home/View/Index/header.html" />


<body>

<div class="wrapper">
    
    <include file="./Youmi/Home/View/Index/nav.html" />

    <div class="content">
        <div class="breadcrumb"><a href="{$domain}">悠米小说</a> > <a href="{:U('category/'.$xclass['cid'])}" title="{$xclass.category}" target="_blank">{$xclass.category}</a> > <a href="{:U('book/'.$chapter['bookid'])}" title="{$book.bookname}">{$book.bookname}</a> > {$chapter.title}</div>
        <div class="capter">
            <h1 class="chapter-title">{$chapter.title}</h1>
            <div class="chapter-nav">
                <if condition="$noprep neq 1">
                <a href="{:U('chapter/'.$prep['chapterid'])}">上一章</a><span>←
                </span></if> <a href="{:U('book/'.$chapter['bookid'])}">章节列表
                </a><if condition="$nonext neq 1"><span>→
            </span><a href="{:U('chapter/'.$next['chapterid'])}">下一章</a></if>
            </div>
        </div>

        <div class="chapter-re">
            推荐阅读：
            <volist name='recom' id='item'>
                <a href="{:U('book/'.$item['bookid'])}" title="{$item.bookname}" target="_blank">{$item.bookname}</a>
            </volist>
        </div>

        <div class="capter-main">

            {$chapter.content}

        </div>

        <div class="chapter-nav" style="margin-top:35px;padding-top:20px;border-top:1px solid #ddd">
            <a href="{:U('chapter/'.$prep['chapterid'])}">上一章</a><span>←
                </span> <a href="{:U('book/'.$chapter['bookid'])}">章节列表</a><span>→
                </span><a href="{:U('chapter/'.$next['chapterid'])}">下一章</a>
        </div>


    </div>


    <include file="./Youmi/Home/View/Index/footer.html" />
</div>


</body>
</html>