<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$webname}</title>
    <link rel="shortcut icon" href="/xsimage/ting.ico" type="image/x-icon">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <script src="{$path}/js/jquery-1.11.1.min.js"></script>
    <script src="{$path}/layui/layui.all.js"></script>
    <link href="{$path}/layui/css/layui.css" rel="stylesheet">
    <link href="{$path}/css/css.css?v={$version}" rel="stylesheet">
</head>
