
*{
    padding:0;margin:0;font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

.page{
    height:24px;
    line-height:24px;
    text-align:center;
    font-size:14px;
    margin-top:15px
}
.page a{
    height:24px;
    min-width:20px;
    display:inline-block;
    padding:0 2px;
    border-radius:5px
}
.page a.current{
    background:#009688;
    color:#fff;
}

.wrapper{
    background:#fff
}

.headertop{
    height:34px;
    line-height:34px;
    background:#f5f5f5;
    border-bottom:1px solid #d2d2d2
}

.headermain{
    height:96px;
    margin:0 auto;
    width:980px;
}

.logo{
    width:280px;
    height:96px;
    position:absolute;
}

.headermainright{
    
    padding:15px 0 0 290px;
    height:76px;
}

.headernav{
    height:40px;
    line-height:40px;
    color:#fff;

    text-align:center
}

.headernav a{
    font-size:18px;
    color:#fff;
    display:inline-block;
    margin:0 5px;
    padding:0 10px;

}
.headernav a:hover{
    color:#1E9FFF;
}

.headernav a.current{
    background:#1E9FFF
}

.headernav a.current:hover{
    color:#fff
}

.content{
    width:980px;
    margin:15px auto;
    background:#fff;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    border-radius:5px
}

.contenttop{
    height:360px;
}

.contenttop-left{
    width:700px;
    margin-right:10px;
    float:left;
}

.contentbox{
    width:400px;
    height:280px;
    float:left;
}

.wrapbox{
    padding:10px;
    width:330px;
    height:160px;
    float:left;
}
.wrapbox-image{
    position:absolute;
    width:124px;
    height:154px;
    border:1px solid #eee;
    padding:2px;
}

.wrapbox-image img{
    display:block;
    width:124px;
    height:154px;
}

.wrapbox-right{
    margin:0 0 0 140px;

}

.wrapbox-right-t{
    height:34px;
    line-height:34px;
    border-bottom:1px solid #ddd
}

.wrapbox-right-t .bookname{
    font-size:18px;
    color:#6F78A7;
    float:left;
}

.wrapbox-right-t .bookname:hover{
    color:#393D49;
}

.wrapbox-right-t .author{
    float:right;
    font-size:14px;
    color:#ccc;
}

.wrapbox-right-m{
    margin-top:5px;
    height:120px;
    line-height:20px;
    font-size:12px;
    color:#666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow:hidden;
    text-indent:2em;
}

.contenttop-right{
    width:250px;
    float:left;
    padding:10px

}

.right-title{
    font-size:16px;
    height:34px;
    line-height: 34px;
    border-bottom:1px solid #ddd;
    background:#f1f1f1;
    color:#393D49;
    padding-left:15px;
}

.right-list{
    margin:5px 0 0 0;
    line-height:30px;
}

.right-list li{
    display:flex;
    border-bottom:1px solid #ddd;
    height:29px;
    line-height:29px;
    box-sizing:border-box;
}

.right-list li a{
    display:inline-block;
    

}

.right-cate{
    font-size:14px;
    color:#999;
    margin:0 10px 0 0;

}
.right-bookname{
    font-size:14px;
    color:#6F78A7;
    width:180px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.right-author{
    font-size:12px;
    color:#999;
    flex-grow: 1;
    text-align:right;
    width:80px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.contentmain{
    border-top:1px solid #ddd;
}
.contentmain-area{
    width:313px;
    padding:10px 0 0 10px;
    float:left;
}

.area-book{
    height:90px;
    margin:15px 0 15px 0;
}
.area-book .bookcover{
    width:64px;
    height:84px;
    border:1px solid #eee;
    padding:2px;
    display:block;
    position:absolute;
}
.area-book .bookcover img{
    width:64px;
    height:84px;
    display:block;
}

.area-book .bookinfo{
    margin:0 0 0 80px;

}

.area-book .bookinfo .booktitle{
    font-size:16px;
    height:30px;
    line-height:30px;
    color:#6F78A7;
    display:block
}

.area-book .bookinfo .bookmsg{
    font-size:12px;
    line-height:20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}

.contentfoot{
    margin:10px 0 0 0;
    border-top:1px solid #ddd;
    padding:10px 0 0 0;
}

.contentfoot-left{
    width:690px;
    margin:0 10px 0 10px;
    float:left
}

.contentfoot-right{
    width:260px;
    float:left;
    margin:0 10px 0 0
}

.updatalist li{
    line-height:27px;
    border-bottom:1px solid #ddd;
    font-size:14px;
    white-space: nowrap;
}

.updatalist li .update-cate{
    display:inline-block;
    width:65px;
    color:#666;
    font-size:12px;
}

.updatalist li .update-bookname{
    display:inline-block;
    width:175px;
    color:#6F78A7;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:bottom;
}

.updatalist li  .update-chaptername{
    display:inline-block;
    width:290px;
    color:#6F78A7;
    margin:0 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:bottom;
}

.updatalist li  .update-bookauthor{
    display:inline-block;
    width:90px;
    color:#999;
    text-align:right;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:bottom;
    font-size:12px
}

.updatalist li  .update-date{
    display:inline-block;
    width:50px;
    color:#999;
    text-align:right;
    font-size:12px;
}

.footer{
    padding:30px 0;
    background:#393D49;
    color:#fff;
    text-align:center;
    line-height:32px;
    font-size:14px;
}


.categorylist{
    padding:10px 10px 0 10px;
}
.categorylist-box{
    width:310px;
    float:left;
    padding:0 10px 0 0;
    height:150px;
    margin-bottom:10px;
}
.category-image{
    width:114px;
    height:144px;
    padding:2px;
    border:1px solid #ddd;
    display:block;
    position:absolute;
}

.category-image img{
    display:block;
    width:114px;
    height:144px;
}

.category-rightbox{
    margin-left:130px;
}

.category-rightbox-t{
    height:34px;
    border-bottom:1px solid #ddd;
    line-height:34px;
}

.category-bookname{
    font-size:14px;
    display:block;
    height:34px;
    float:left;
    color:#6F78A7;
    width:120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.cateb-a{
    float:right;
    display:block;
    height:34px;
    color:#ccc;
    width:60px;
    font-size:12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    
}

.category-desc{
    margin:5px 0 0 0;
    line-height:22px;
    font-size:12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-indent: 2em;
    color:#666;
}

.breadcrumb{
    height:40px;
    background:#eee;
    line-height:40px;
    padding:0 0 0 20px;
    font-size:14px;
    color:#666;
}

.breadcrumb a{color:#6F78A7}

.bookarea{
    padding:10px;
}

.bookimage img{
    width:120px;
    height:150px;
}

.bookimage{
    height:150px;
    width:120px;
    display:block;
    padding:3px;
    border:1px solid #ddd;
    position:absolute;
}

.bookarea-r{
    margin:0 0 0 160px;
    min-height:165px;

}

.bookarea-bn{
    font-size:28px;
    color:#666
}

.bookarea-items div{
    float:left;
    width:50%;
    height:30px;
    line-height:30px;
    font-size:16px;
    color:#999;
}

.bookarea-desc{
    border-top:1px solid #eee;
    margin:10px 0 0 0;
    padding:10px 0 0 0;
    font-size:12px;
    line-height:24px;
    color:#999;
}

.capterlist{
    padding:10px;
    border-top:1px solid #ddd
}

.capterlist li{
    float:left;
    width:33.33%;
    height:29px;
    line-height: 29px;
    border-bottom:1px dashed #ddd;
    font-size:12px;
    color:#6F78A7;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.capterlist li a{
    color:#6F78A7;
}
.capterlist a:hover{
    text-decoration: underline;
}

.chapter-title{
    font-size:24px;
    color:#666;
    text-align:center;
    padding:30px 0 20px;

}

.chapter-nav{
    text-align:center;
    font-size:14px;
    padding:0 0 20px 0;
    color:#6F78A7;

}

.chapter-nav a{
    color:#6F78A7;
    display:inline-block;
    margin:0 20px;
}
.chapter-re{
    text-align:center;
    font-size:14px;
    padding:0 0 30px 0;
    color:#666
}
.chapter-re a{
    color:#6F78A7;
    display:inline-block;
    margin:0 10px;
}

.capter-main{
    border-top:1px solid #ddd;
    padding:20px 30px;
    font-size:20px;
    line-height:32px;
    color:#666;
}

.category-list{
    border-bottom: 1px solid #ddd;
    height: 29px;
    line-height: 29px;
    white-space:nowrap;
}

.c-listarea-l{
    width:75%;
    display:inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    vertical-align:middle;
}

.c-listarea-r{
    width:20%;
    margin:0 0 0 5%;
    display:inline-block;
    font-size:12px;
    color:#999;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    vertical-align:middle;
}

.book-latest{
    font-size:12px;
    color:#ccc;
    display:inline-block;
}


.c-bookname:hover{
    color:#5d69a9;
}

.latestchapter{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.noexist{
    font-size:24px;
    padding:50px 0 10px 0;
    height:40px;
    line-height:40px;
    text-align: center;
    color:#FF5722;
}

.addgroup{
    font-size:14px;
    color:#666;
    text-align:center;
    line-height:30px;
    height:30px;
}

.recommendbooks{
    padding:80px 20px 50px;
    color:#FF5722;
    font-size:16px;
    
}

.recommendbooks_title{
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
    line-height:35px;
    height:35px;
}

.recommendbooks_content a{
    color:#2F4056;
    display:inline-block;
    width:50%;
    overflow: hidden;
    height:30px;
    line-height:30px;
    text-overflow:ellipsis;
    white-space: nowrap;
    float:left;
}



.recommendbooks_content a:hover{
    text-decoration: underline;
}


.friend{
    width: 960px;
    margin: 15px auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:12px;
    color:#6F78A7;
    padding:15px 10px;
}

.friend a{
    color:#6F78A7;
    display:inline-block;
    margin:0 15px 0 0;
}