<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{$path}/PC/View/script/jquery-1.11.1.min.js"></script>
    <script src="{$path}/PC/View/layui/layui.all.js"></script>
    <link href="{$path}/PC/View/layui/css/layui.css" rel="stylesheet">
    <link href="{$path}/PC/View/css/style.css?v={$version}" rel="stylesheet">
    <title>Title</title>
</head>

<body>

<div class="topnav">
    <div class="topwrap clearfix">
        <div class="topnav-l"></div>
        <div class="topnav-r">
            <a href="#">最新上架</a><span></span><a href="#">最新上架</a><span></span>
        </div>
    </div>
</div>

<div class="header clearfix">
    <div class="header-l">logo</div>
    <div class="header-r">

        <div class="hotsearch">
            热门搜索:<a href="#">鬼吹灯有声小说</a>
        </div>

        <div class="search">
            <input type="text" class="searchbar" /><a href="javascript:void(0)" class="searchbtn">搜索</a>
        </div>

    </div>
</div>

<div class="nav">
    <div class="navwrap">
        <a href="#">玄幻武侠</a><a href="#">玄幻武侠</a>
    </div>
</div>

<div class="clearfix mininav">
    <ul>
        <li class="first">首页->武侠玄幻->书名</li>
        <li class="second">关注微信公众号：</li>
    </ul>
</div>

<div class="main clearfix">

    <div class="category_left">

        <div class="rightareatitle">
            武侠玄幻有声小说
        </div>

        <!------------------------------------------------->
        <div class="clearfix mb15 mt15">
            <a class="bookcover"><img src="./Xiaoshuo/PC/View/images/20187515543068695.jpg"></a>
            <div class="bookcontent">

                <div class="booknamebar">书名书名书名</div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>啊啊</li>
                        <li>啊啊</li>
                        <li>啊啊</li>
                    </ul>
                </div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>啊啊</li>
                        <li>啊啊</li>
                        <li>啊啊</li>
                    </ul>
                </div>

                <div class="bookdesc">
                    按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗
                </div>

            </div>
        </div>
        <!------------------------------------------------->

        <!------------------------------------------------->
        <div class="clearfix mb15">
            <a class="bookcover"><img src="./Xiaoshuo/PC/View/images/20187515543068695.jpg"></a>
            <div class="bookcontent">

                <div class="booknamebar">书名书名书名</div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>啊啊</li>
                        <li>啊啊</li>
                        <li>啊啊</li>
                    </ul>
                </div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>啊啊</li>
                        <li>啊啊</li>
                        <li>啊啊</li>
                    </ul>
                </div>

                <div class="bookdesc">
                    按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗
                </div>

            </div>
        </div>
        <!------------------------------------------------->

        <!------------------------------------------------->
        <div class="clearfix mb15">
            <a class="bookcover"><img src="./Xiaoshuo/PC/View/images/20187515543068695.jpg"></a>
            <div class="bookcontent">

                <div class="booknamebar">书名书名书名</div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>啊啊</li>
                        <li>啊啊</li>
                        <li>啊啊</li>
                    </ul>
                </div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>啊啊</li>
                        <li>啊啊</li>
                        <li>啊啊</li>
                    </ul>
                </div>

                <div class="bookdesc">
                    按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗按理说算了是代理商大乱斗
                </div>

            </div>
        </div>
        <!------------------------------------------------->

        {$pagenav}
    </div>

    <div class="category_right">
        <div class="leftarea">
            <div class="leftareatitle">
                最新推荐
            </div>
            <div class="leftarealist mt15">
                <ul>
                    <li><span class="setnum">1
                    </span><a href="#" class="leftarealink">哈哈方法
                    </a><span class="star">star</span></li>
                    <li><span class="setnum">1
                    </span><a href="#" class="leftarealink">哈哈方法
                    </a><span class="star">star</span></li>
                    <li><span class="setnum">1
                    </span><a href="#" class="leftarealink">哈哈方法
                    </a><span class="star">star</span></li>
                    <li><span class="setnum">1
                    </span><a href="#" class="leftarealink">哈哈方法
                    </a><span class="star">star</span></li>
                </ul>
            </div>
        </div>
    </div>



</div>



<div class="friend">
    <div class="layui-bg-green friendtitle">友情链接</div>
    <div class="friendlinks">
        <a href="">百度</a>
        <a href="">百度</a>
        <a href="">百度</a>
    </div>
</div>



<div class="footer">
    <div class="footermain">
        <p>免责申明：本站提供的有声小说资源均收集于网络，为广大听友提供有声小说在线收听网以及有声小说打包下载<p>

        <p>欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。 管理员信箱：704296931@qq.com 网站备案号：粤ICP备16074763号-1</p>

        <p class="footerlinks"><a href="#">有声小说最新更新</a> | <a href="#">有声小说排行榜</a> | <a href="#">鬼故事在线收听</a>
        | <a href="#">评书在线收听</a> | <a href="#">广播剧</a> | <a href="#">网站地图</a></p>

        <p>Copyright @ 2016-2017 我爱听书 www.woaitingshu.com All Right Reserved</p>
    </div>
</div>




</body>
</html>