<include file="./Xiaoshuo/Mobile/View/Index/header.html" />
<include file="./Xiaoshuo/Mobile/View/Index/QQqun.html" />

<ul class="ui-list ui-border-tb mt10">
    <li>
        <div class=" ui-list-img-vertical">
            <a class="imagearea" href="#"><img src="{$book.cover}"></a>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="javascript:void(0)">{$book.bookname}</a></h4>
            <p class="ui-nowrap classify">分类：<a href="{:U('categorytime/'.$book['category_id'])}">{$book.category}</a></p>
            <p class="ui-nowrap voice">播音：{$book.bojiang}</p>
            <p class="ui-nowrap description"><if condition="$book.status eq 1">状态：完结<else/>最新章节：第{$count}集</if></p>
        </div>
    </li>
</ul>

<a href="javascript:void(0)" class="playbtn">立即收听</a>

<div class="ui-row-flex ui-whitespace mt10">
    <div class="ui-col desc"><strong>{$book.bookname}有声小说简介：</strong>{$book.description}</div>
</div>


<div class="ui-row-flex ui-whitespace secheader mt10">
    <div class="ui-col"><h2>章节列表</h2></div>
    <div class="ui-col ui-col"></div>
    <!-- <div class="ui-col"><a href="javascript:void(0)" onclick="drawhtml()" class="resort">排序</a></div> -->
</div>


<div class="playlist">
    <ul class="ui-row voicebox" id="voicebox">
        <volist name="data" id="item">
            <li class="ui-col ui-col-33"><a href="{:U('play/'.$item['bookid'].'-0-'.$item['defindex'])}">第{$item.num}集</a></li>
        </volist>
        
    </ul>
    <a href="javascript:void(0)" class="showall" id="showall">➤➤ 显示全部</a>
</div>


<div class="ui-row-flex ui-whitespace secheader mt20">
    <div class="ui-col"><h2>猜您喜欢</h2></div>
    <div class="ui-col ui-col-2"></div>
</div>

<ul class="ui-list ui-border-tb mt10">
    <volist name="rand" id="item">
        <li>
            <div class=" ui-list-img-vertical">
                <a class="imagearea" href="{:U('book/'.$item['bookid'])}"><div class="bookstatus"><if condition="$item.status eq 1">完结<else/>更新至{$item['count']}集</if><br>{$item['lastupdate']}</div><img src="{$item.cover}"></a>
            </div>
            <div class="ui-list-info ui-border-t">
                <h4 class="ui-nowrap bookname"><a href="{:U('book/'.$item['bookid'])}">{$item.bookname}</a></h4>
                <p class="ui-nowrap classify">分类：<a href="{:U('categorytime/'.$book['category_id'])}">{$item.category}</a></p>
                <p class="ui-nowrap voice">播音：{$item.bojiang}</p>
                <p class="ui-nowrap description">简介：{$item.description}</p>
            </div>
        </li>
    </volist>
</ul>


<include file="./Xiaoshuo/Mobile/View/Index/footer.html" />


<script>

    var bookid="{$bookid}";

    $(function(){
        $('.playbtn').click(function(){
            window.location.href='/Mobile/play/'+bookid+'-0-0.html';
        })

        $('#showall').click(function(){
            $('.playlist').css({height:'auto'});
            $('#showall').hide();
        })




        var viewitem=JSON.parse('{$viewitem}')

        var viewlist = localStorage.getItem('viewlist') ? localStorage.getItem('viewlist') : '';


        if(viewlist.indexOf(viewitem['bookid'])<0){
            if(viewlist==''){
                viewlist=viewitem['bookid']+'-'+viewitem['bookname']
            }else{
                viewlist=viewitem['bookid']+'-'+viewitem['bookname']+','+viewlist
            }
            if(viewlist.split(',').length>5){
                viewlist=viewlist.substring(0, viewlist.lastIndexOf(','))
            }
            
            localStorage.setItem('viewlist',viewlist);
        }

    })


</script>




</body>
</html>