<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>FrozenUI Demo</title>
    <!-- 引入 FrozenUI -->
    <link rel="stylesheet" href="./Xiaoshuo/Mobile/View/style/frozenui/css/frozenui.css"/>
    <link rel="stylesheet" href="./Xiaoshuo/Mobile/View/style/common.css?v={$random}"/>
</head>
<body>

<div class="ui-row-flex ui-whitespace minihead">
    <div class="ui-col back"><a href="javascript:void(0)">返回</a></div>
    <div class="ui-col ui-col-3 fn-tac">武侠玄幻</div>
    <div class="ui-col toindex fn-tar"><a href="javascript:void(0)">首页</a></div>
</div>

<div class="tiparea">夜听小说群：</div>


<div class="menu">
    <a href="#" class="current">最近更新</a><a href="#">按人气排</a>
</div>


<ul class="ui-list ui-border-tb mt10">
    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>

    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>

    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>
</ul>

<div class="ui-row-flex ui-whitespace pagenav">
    <div class="ui-col ui-col"><a href="#" class="pagefront">上一页</a></div>
    <div class="ui-col ui-col pageinfo">1/10</div>
    <div class="ui-col ui-col"><a href="#" class="pagenext">下一页</a></div>
</div>

<ul class="ui-row categorys">
    <li class="ui-col ui-col-33"><a href="#">33</a></li>
    <li class="ui-col ui-col-33"><a href="#">33</a></li>
    <li class="ui-col ui-col-33"><a href="#">33</a></li>


</ul>

<div class="footer">
    专业有声小说在线听
</div>


</body>
</html>