<include file="./Xiaoshuo/Mobile/View/Index/header.html" />

<div class="tiparea">夜听小说群：</div>


<div class="menu">
    <a href="javascript:void(0)" class="current">最近更新</a><a href="#">按人气排</a>
</div>


<ul class="ui-list ui-border-tb mt10">
    <volist name="data" id="item">
    <li>
        <div class=" ui-list-img-vertical">
            <a class="imagearea" href="#"><img src="{$item.cover}"></a>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="#">{$item.bookname}</a></h4>
            <p class="ui-nowrap classify">分类：{$item.category}</p>
            <p class="ui-nowrap voice">播音：{$item.bojiang}</p>
            <p class="ui-nowrap description">简介：{$item.description}</p>
        </div>
    </li>
    </volist>

</ul>

<div class="ui-row-flex ui-whitespace pagenav">
    <div class="ui-col ui-col"><a href="#" class="pagefront">上一页</a></div>
    <div class="ui-col ui-col pageinfo">1/10</div>
    <div class="ui-col ui-col"><a href="#" class="pagenext">下一页</a></div>
</div>




<include file="./Xiaoshuo/Mobile/View/Index/footer.html" />


</body>
</html>