<ul class="ui-row categorys">
    <volist name="category" id="item">
        <li class="ui-col ui-col-33"><a href="{:U('categorytime/'.$item['category_id'])}">{$item.name}</a></li>
    </volist>
</ul>

<div class="footer">
    专业有声小说在线收听、在线听书、听小说<br/>小微夜听
</div>
<div style="position:fixed;left:0;top:0;bottom:0;right:0;background:rgba(0,0,0,0.2);display:none" id="menumask"></div>
<div class="mainmenu">
    <div class="listarea" id="listarea">
    </div>
    <a href="javascript:void(0)" id="viewbox" onclick="viewlog(event)">浏览记录
    </a><a href="javascript:void(0)" style="border-left:1px solid #eee" onclick="playlog(event)" id="playlist">最近播放</a>
</div>

<script>
    var timeout=''

    function alertmsg(msg){

        var el='<div class="mask"><div class="alertbox">'+msg+'</div></div>'
        $('body').append(el);
        timeout=setTimeout(function(){

            $('.alertbox,.mask').remove();
        },1500)
    }




        function viewlog(event){

                var history = window.localStorage.getItem('viewlist')

                if(!history){
                    alertmsg('暂无浏览记录');
                }else{
                    $('#playlist').removeAttr('rel')

                    if($('#viewbox').attr('rel')){
                        $('#viewbox').removeAttr('rel')
                        $('#listarea').hide();
                        $('#menumask').hide();
                    }else{
                        $('#viewbox').attr('rel',1);
                        $('#listarea').show();
                        $('#menumask').show();
                    }


                    var viewlist=[]
                    history=history.split(',');
                    // console.log(history);
                    for(var i=0;i<history.length;i++){
                        var item={};
                        historyarr=history[i].split('-');
                        item['bookid']=historyarr[0];
                        item['bookname']=historyarr[1];
                        viewlist.push(item);
                    }

                    var htmlstr = ''
                    for(var k=0;k<viewlist.length;k++){
                        htmlstr+='<a href="/Mobile/book/'+viewlist[k]['bookid']+'.html">'+viewlist[k]['bookname']+'</a>'
                    }

                    var len=viewlist.length;
                    var height=len*45;

                    $("#listarea").css({'left':0,'height':height+'px'}).html(htmlstr);


                }
            }





        function playlog(event){
            //播放页
            var playlist = window.localStorage.getItem('playlist')

            if(!playlist){
                alertmsg('暂无播放记录');
            }else{

                $('#viewbox').removeAttr('rel')

                if($('#playlist').attr('rel')){
                    $('#playlist').removeAttr('rel')
                    $('#listarea').hide();
                    $('#menumask').hide();
                }else{
                    $('#playlist').attr('rel',1);
                    $('#listarea').css({'left':'50%'}).show();
                    $('#menumask').show();
                }

                
                var playlistarr=playlist.split(',');
                console.log(playlistarr)
                var htmlstr=''

                for(var i=0;i<playlistarr.length;i++){
                    var itemlist=playlistarr[i].split('-');
                    htmlstr+='<a href="'+itemlist[0]+'-0-'+itemlist[2]+'.html">'+itemlist[1]+'<span style="color:#999;font-style:italic;margin-left:5px">第'+(parseInt(itemlist[2])+1)+'集</span>'+'</a>'
                }

                var len=playlistarr.length;

                var height=len*45;

                $("#listarea").css({'left':'50%','height':height+'px'}).html(htmlstr);

            }
        }



            



    $(function(){


        $('#menumask').on('touchstart',function(event){
            // console.log(event)
            $(this).hide();
            $('#viewbox').removeAttr('rel');
            $('#playlist').removeAttr('rel');
            $('#listarea').hide();
            event.preventDefault();
            event.stopPropagation();
        })
    })




</script>