<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>小微夜听</title>
    <!-- 引入 FrozenUI -->
    <link rel="stylesheet" href="{$realpath}/style/frozenui/css/frozenui.css"/>
    <link rel="stylesheet" href="{$realpath}/style/common.css?v={$random}"/>
    <script type="text/javascript" src="{$realpath}/js/jquery-1.11.1.min.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7208bccb1ab8230b1b86bf3c29af5a32";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>


<div class="ui-row-flex ui-whitespace header">
    <div class="ui-col toback"><if condition="$isindex neq 1"><a href="javascript:history.back()">返回</a></if></div>
    <div class="ui-col ui-col-3 pagetitle"><if condition="$settitle eq 1">{$title}<else/>小微夜听</if></div>
    <div class="ui-col toindex"><if condition="$isindex neq 1"><a href="{$domain}/mindex.html">首页</a></if></div>
</div>

<script>

    function alertmsg(txt){
        var mask='<div id="mask" style="background:rgba(0,0,0,0.1);position:absolute;top:0;left:0;right:0;bottom:0;z-index:1"></div>'
        var html='<div id="msgbox" style="width:280px;padding:10px;height:30px;line-height:30px;position:fixed;top:50%;left:50%;margin:-25px 0 0 -140px;font-size:16px;color:#666;background:rgba(0,0,0,0.8);z-index:2;border-radius:10px;text-align:center;color:#fff">'+txt+'</div>'
        $('body').append(mask);
        $('body').append(html);

        setTimeout(function(){
            $('#mask').remove();
            $('#msgbox').remove();
        },2000)
    }

</script>