<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>FrozenUI Demo</title>
    <!-- 引入 FrozenUI -->
    <link rel="stylesheet" href="./Mobile/View/style/frozenui/css/frozenui.css"/>
    <link rel="stylesheet" href="./Mobile/View/style/common.css?v={$random}"/>
</head>
<body>

<!--
<div class="ui-row-flex ui-whitespace">
    <div class="ui-col ui-col">平均分</div>
    <div class="ui-col ui-col">平均分</div>
    <div class="ui-col ui-col">平均分</div>
    <div class="ui-col ui-col">平均分</div>
</div>
-->

<div class="ui-row-flex ui-whitespace header">
    <div class="ui-col">哈哈哈</div>
    <div class="ui-col ui-col-2"></div>
</div>



<ul class="ui-row mt10 nav">
    <li class="ui-col ui-col-33"><a href="">玄幻武侠</a></li>
    <li class="ui-col ui-col-33"><a href="">玄幻武侠</a></li>
    <li class="ui-col ui-col-33"><a href="">玄幻武侠</a></li>
    <li class="ui-col ui-col-33"><a href="">玄幻武侠</a></li>
    <li class="ui-col ui-col-33"><a href="">玄幻武侠</a></li>
</ul>



<div class="ui-row-flex ui-whitespace secheader mt10">
    <div class="ui-col"><h2>今日推荐</h2></div>
    <div class="ui-col ui-col-2"></div>
</div>


<ul class="ui-list ui-border-tb mt10">

    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>

    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>

    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>

</ul>


<div class="ui-row-flex ui-whitespace secheader mt10">
    <div class="ui-col"><h2>玄幻武侠</h2></div>
    <div class="ui-col ui-col-2"></div>
</div>
<ul class="ui-list ui-border-tb mt10">
    <li>
        <div class=" ui-list-img-vertical">
            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="">标题</a></h4>
            <p class="ui-nowrap classify">分类：</p>
            <p class="ui-nowrap voice">播音：</p>
            <p class="ui-nowrap description">简介：</p>
        </div>
    </li>
</ul>

<div class="ui-row-flex ui-whitespace list">
    <div class="ui-col fn-tac"><a href="">玄幻武侠</a></div>
    <div class="ui-col ui-col-2"><a href="" class="listright">仙念</a></div>
</div>

<div class="ui-row-flex ui-whitespace list">
    <div class="ui-col fn-tac"><a href="">玄幻武侠</a></div>
    <div class="ui-col ui-col-2"><a href="" class="listright">仙念</a></div>
</div>

<div class="ui-row-flex ui-whitespace list">
    <div class="ui-col fn-tac"><a href="">玄幻武侠</a></div>
    <div class="ui-col ui-col-2"><a href="" class="listright">仙念</a></div>
</div>

<div class="ui-row-flex ui-whitespace list">
    <div class="ui-col fn-tac"><a href="">玄幻武侠</a></div>
    <div class="ui-col ui-col-2"><a href="" class="listright">仙念</a></div>
</div>




</body>
</html>