<include file="./Xiaoshuo/Mobile/View/Index/header.html" />

<ul class="ui-row mt10 nav">
    <volist name="category" id="item">
        <li class="ui-col ui-col-33"><a href="{:U('categorytime/'.$item['category_id'])}">{$item.name}</a></li>
    </volist>
</ul>



<div class="ui-row-flex ui-whitespace secheader mt10">
    <div class="ui-col"><h2>今日推荐</h2></div>
    <div class="ui-col ui-col-2"></div>
</div>


<ul class="ui-list ui-border-tb mt10">
    <volist name="todayrecommend" id="item">
    <li>
        <div class="ui-list-img-vertical">
            <a class="imagearea" href="{:U('book/'.$item['bookid'])}"><img src="{$item.cover}"></a>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap bookname"><a href="{:U('book/'.$item['bookid'])}">{$item.bookname}</a></h4>
            <p class="ui-nowrap classify">分类：<a href="{:U('categorytime/'.$item['category_id'])}">{$item.category_id}</a></p>
            <p class="ui-nowrap voice">播音：{$item.bojiang}</p>
            <p class="ui-nowrap description">简介：{$item.description}</p>
        </div>
    </li>
    </volist>


</ul>


<div class="ui-row-flex ui-whitespace secheader mt10">
    <div class="ui-col"><h2>玄幻武侠</h2></div>
    <div class="ui-col ui-col-2"></div>
</div>

<volist name="xuanhuan" id="item" key="index">
    <if condition="$index eq 1">
        <ul class="ui-list ui-border-tb mt10">
            <li>
                <div class=" ui-list-img-vertical">
                    <a class="imagearea" href="{:U('book/'.$item['bookid'])}"><img src="{$item.cover}"></a>
                </div>
                <div class="ui-list-info ui-border-t">
                    <h4 class="ui-nowrap bookname"><a href="{:U('book/'.$item['bookid'])}">{$item.bookname}</a></h4>
                    <p class="ui-nowrap classify">分类：{$item.category}</p>
                    <p class="ui-nowrap voice">播音：{$item.bojiang}</p>
                    <p class="ui-nowrap description">简介：{$item.description}</p>
                </div>
            </li>

        </ul>
    <else/>
        <div class="ui-row-flex ui-whitespace list">
            <div class="ui-col fn-tac"><a href="">{$item.category}</a></div>
            <div class="ui-col ui-col-2"><a href="" class="listright">{$item.bookname}</a></div>
        </div>
    </if>

</volist>

<include file="./Xiaoshuo/Mobile/View/Index/footer.html" />


</body>
</html>