<include file="./Xiaoshuo/Mobile/View/Index/header.html" />

<link href="{$realpath}/jPlayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />


<link href="{$realpath}/jPlayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />

<link href="{$realpath}/jPlayer/skin/blue.monday/myplay.css?v={$random}" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{$realpath}/jPlayer/dist/jplayer/jquery.jplayer.min.js"></script>

<include file="./Xiaoshuo/Mobile/View/Index/QQqun.html" />

<div class="historymsg">
    您正在收听：<span>{$book.bookname} 第{$showindex+1}集</span>
</div>

<div class="playbox">
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <button class="jp-play" role="button" tabindex="0">play</button>
                    <button class="jp-stop" role="button" tabindex="0">stop</button>
                </div>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-volume-controls">
                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                    <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value"></div>
                    </div>
                </div>
                <div class="jp-time-holder">
                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                    <div class="jp-toggles">
                        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                    </div>
                </div>
                <div class="mypalybar">正在为您播放.....</div>
            </div>
        </div>
    </div>
</div>


<div class="ui-row-flex ui-whitespace menutool">
    <div class="ui-col ui-col"><a href="{:U('play/'.$bookid.'-0-'.($defindex==0?0:$defindex-1))}">上一集</a></div>
    <div class="ui-col ui-col"><a href="{:U('book/'.$bookid)}">目录</a></div>
    <div class="ui-col ui-col"><a href="{:U('play/'.$bookid.'-0-'.($defindex+1))}">下一集</a></div>
</div>


<div class="ui-row-flex ui-whitespace secheader mt20">
    <div class="ui-col"><h2>猜您喜欢</h2></div>
    <div class="ui-col ui-col-2"></div>
</div>

<ul class="ui-list ui-border-tb mt10">
    <volist name="rand" id="item">
        <li>
            <div class=" ui-list-img-vertical">
                <a class="imagearea" href="{:U('book/'.$item['bookid'])}"><img src="{$item.cover}"></a>
            </div>
            <div class="ui-list-info ui-border-t">
                <h4 class="ui-nowrap bookname"><a href="{:U('book/'.$item['bookid'])}">{$item.bookname}</a></h4>
                <p class="ui-nowrap classify">分类：{$item.category}</p>
                <p class="ui-nowrap voice">播音：{$item.bojiang}</p>
                <p class="ui-nowrap description">简介：{$item.description}</p>
            </div>
        </li>
    </volist>
</ul>


<include file="./Xiaoshuo/Mobile/View/Index/footer.html" />


<script src="{$realpath}/js/main.js"></script>


<script type="text/javascript">

    //记录播放历史
    $(function(){
        var bookname="{$book.bookname}";
        var bookid="{$book.bookid}";
        var showindex="{$data.showindex}";
        var defindex="{$data.defindex}";
        var storage;

        var lastest={
            bookname:bookname,
            bookid:bookid,
            showindex:showindex,
            defindex:defindex
        }
        console.log(lastest);
        if(window.localStorage){
            storage=window.localStorage;
            storage.setItem('lastest',JSON.stringify(lastest));
        }

    })



    var encodevoice=FonHen_JieMa("{$encodevoice}")

    $("#jquery_jplayer_1").jPlayer({
        ready: function (event) {
            $(this).jPlayer("setMedia", {
                title: "Bubble",
                m4a:encodevoice,
                oga:encodevoice
            });
        },
        swfPath: "../../dist/jplayer",
        supplied: "m4a, oga",
        wmode: "window",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
    });


    //]]>
</script>


</body>
</html>