<include file="./Xiaoshuo/PC/View/Pc/header.html" />


<div class="clearfix mininav">
    <ul>
        <li class="first">首页->{$category.name}</li>
        <li class="second">关注微信公众号：小微夜听</li>
    </ul>
</div>

<div class="main clearfix">

    <div class="category_left">

        <div class="rightareatitle">
            {$category.name}有声小说
        </div>

        <volist name="categorybooks" id="item">
        <div class="clearfix mb15 mt15 listitem">
            <a class="bookcover" href="{:U('mp3/'.$item['bookid'])}" title="{$item.bookname}" target="_blank"><img src="{$item.cover}" alt="{$item.bookname}"></a>
            <div class="bookcontent">

                <div class="booknamebar"><a href="{:U('mp3/'.$item['bookid'])}" title="{$item.bookname}" target="_blank">{$item.bookname}</a></div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li>作者：<a href="javascript:void(0)" title="{$item.author}">{$item.author}</a></li>
                        <li>播音：{$item.bojiang}</li>
                        <li>状态：第 {$item.count} 集</li>
                    </ul>
                </div>
                <div class="bookmsgarea clearfix">
                    <ul>
                        <li style="width:50%;color:#666">最近更新：{$item.lastupdate}</li>
                    </ul>
                </div>

                <div class="bookdesc">
                    {$item.description}
                </div>

            </div>
        </div>
        </volist>

        {$pagenav}
    </div>

    <div class="category_right">


        <div class="leftarea">
            <div class="leftareatitle">
                本类热门有声小说人气TOP15
            </div>
            <div class="leftarealist mt15">
                <ul>
                    <volist name="hotbook" id="item" key="k">
                        <li><span <if condition="$k lt 4">class="setnum num_{$k}"<else/>class="setnum"</if>>{$k}
                    </span><a href="{:U('mp3/'.$item['bookid'])}" class="leftarealink" title="{$item.bookname}" target="_blank">{$item.bookname}
                        </a><span class="star"></span></li>
                    </volist>
                </ul>
            </div>
        </div>


        <div class="leftarea mt15">
            <div class="leftareatitle">
                最新推荐
            </div>
            <div class="leftarealist mt15">
                <ul>
                    <volist name="latest" id="item" key="k">
                        <li><span <if condition="$k lt 4">class="setnum num_{$k}"<else/>class="setnum"</if>>{$k}
                    </span><a href="{:U('mp3/'.$item['bookid'])}" class="leftarealink" title="{$item.bookname}" target="_blank">{$item.bookname}
                        </a><span class="star"></span></li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="blank15"></div>



<include file="./Xiaoshuo/PC/View/Pc/footer.html" />
