    <div class="footer">
        <div class="footermain">
            <p>免责申明：本站提供的有声小说资源均收集于网络，为广大听友提供有声小说在线收听网以及有声小说打包下载<p>

            <p>欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。 管理员信箱：704296931@qq.com 网站备案号：粤ICP备16074763号-1</p>

            <p class="footerlinks"><a href="#">有声小说最新更新</a> | <a href="#">有声小说排行榜</a> | <a href="#">鬼故事在线收听</a>
                | <a href="#">评书在线收听</a> | <a href="#">广播剧</a> | <a href="#">网站地图</a></p>

            <p>Copyright @ 2016-2017 我爱听书 www.woaitingshu.com All Right Reserved</p>
        </div>
    </div>
</body>
</html>