<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="shortcut icon" href="/xsimage/ting.ico" type="image/x-icon">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$descripts}" />
    <script src="{$path}/PC/View/script/jquery-1.11.1.min.js"></script>
    <script src="{$path}/PC/View/layui/layui.all.js"></script>
    <link href="{$path}/PC/View/layui/css/layui.css" rel="stylesheet">
    <link href="{$path}/PC/View/css/style.css?v={$version}" rel="stylesheet">


</head>

<body>

<div class="topnav">
    <div class="topwrap clearfix">
        <div class="topnav-l"></div>
        <div class="topnav-r">
            <!--
            <a href="#">最新上架</a><span></span>
            -->
            <a href="javascript:void(0)">QQ群：805553577</a>
        </div>
    </div>
</div>

<div class="header clearfix">
    <div class="header-l"><a href="/index.php"><img src="/xsimage/xwyt.png" width="240" height="96"></a></div>
    <div class="header-r">

        <div class="hotsearch">
            热门搜索:<a href="#">鬼吹灯有声小说</a>
        </div>

        <div class="search">
            <input type="text" class="searchbar" placeholder="请输入查找的书名"/><a href="javascript:void(0)" class="searchbtn">搜索</a>
        </div>

    </div>
</div>

<div class="nav">
    <div class="navwrap">
        <a href="{$indexurl}" title="首页" <if condition="$ishere eq 0">class="on"</if> >首页</a><volist name="nav" id="item"><a href="{:U('cate/'.$item['category_id'])}" title="{$item.name}" target="_blank" <if condition="$ishere eq $item['category_id']">class="on"</if>>{$item.name}</a></volist>
    </div>
</div>


<script>
    $(function(){
        $('.searchbtn').click(function(){
            var searchval=$('.searchbar').val();
            window.location.href='{$searchurl}'+searchval;
        })
    })
</script>