<include file="./Xiaoshuo/PC/View/Pc/header.html" />

<link href="{$path}/PC/View/jPlayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
<link href="{$path}/PC/View/jPlayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
<link href="{$path}/PC/View/jPlayer/skin/blue.monday/myplay.css?v={$version}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$path}/PC/View/jPlayer/dist/jplayer/jquery.jplayer.min.js"></script>

<script>
    //记录最近播放
    if (window.localStorage) {
        var play={}
        play.count="{$voiceid+1}"
        play.url="/video/{$bookid}-0-{$voiceid}.html";
        play.bookname="{$book.bookname}";
        localStorage.setItem("lastplay", JSON.stringify(play));
    }
</script>

<div class="clearfix mininav">
    <ul>
        <li class="first">首页->{$category.name}->{$book.bookname}</li>
        <li class="second">关注微信公众号：小微夜听</li>
    </ul>
</div>


<div class="main clearfix">


    <div class="category_left">

        <div class="playerbook">{$book.bookname}有声小说第 {$voiceid+1} 集在线收听</div>

        <div class="bookinfo clearfix mt10">

            <div class="bookpic"><img src="{$book.cover}"></div>

            <div class="bookdetail">
                <ul>
                    <li>基本资料</li>
                    <li>书名：{$book.bookname}</li>
                    <li>作者：{$book.author}</li>
                    <li>播讲：{$book.bojiang}</li>
                    <li>类别：<a href="{:U('cate/'.$category['category_id'])}" title="{$category.name}">{$category.name}</a></li>
                    <li>状态：<if condition="$book.status eq 1">完结<else/>更新至{$book.count}集</if></li>
                    <li>更新时间：{$book.lastupdate}</li>
                    <li class="oneline">简介：{$book.description}</li>
                </ul>
            </div>

        </div>

        <div>



            <div class="playbox">
                <a href="{:U('video/'.$bookid.'-0-'.$prev)}" class="playerbtn" style="left:15px;top:15px">上一集</a>
                <a href="{:U('video/'.$bookid.'-0-'.$next)}" class="playerbtn" style="right:15px;top:15px">下一集</a>
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="jp-controls">
                                <button class="jp-play" role="button" tabindex="0">play</button>
                                <button class="jp-stop" role="button" tabindex="0">stop</button>
                            </div>
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <div class="jp-volume-controls">
                                <button class="jp-mute" role="button" tabindex="0">mute</button>
                                <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                            <div class="jp-time-holder">
                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                <div class="jp-toggles">
                                    <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                </div>
                            </div>
                            <div class="mypalybar">正在为您播放.....</div>
                        </div>
                    </div>
                </div>
            </div>







        </div>



        <div class="playerbook" style="text-align:left;padding: 0 0 0 10px">喜欢听<span style="color:#f30;font-weight:bold">《{$book.bookname}》</span>的人也喜欢听：</div>

        <div class="recommend clearfix">
            <volist name="recommend" id="item">
                <if condition="$key lt 10">
                <div class="recommend-item">
                    <a href="{:U('mp3/'.$item['bookid'])}" class="recommend-pic" title="{$item.bookname}" target="_blank"><img src="{$item.cover}" alt="{$item.bookname}"/></a>
                    <a href="{:U('mp3/'.$item['bookid'])}" class="recommend-bookname" title="{$item.bookname}" target="_blank">{$item.bookname}</a>
                    <div class="recommend-desc">{$item.description}</div>
                </div>
                <else/>
                    <a href="{:U('mp3/'.$item['bookid'])}" class="recommend-link" title="{$item.bookname}" target="_blank">{$key+1}、{$item.bookname}</a>
                </if>
            </volist>
        </div>


    </div>


    <div class="category_right">
        <div class="leftareatitle">
            最新推荐
        </div>
        <div class="leftarealist mt15">
            <volist name="listen" id="item">
            <div class="p-item clearfix">

                <div class="p-itemleft">
                    <a href="{:U('mp3/'.$item['bookid'])}" title="{$item.bookname}" target="_blank">
                        <img src="{$item.cover}" alt="{$item.bookname}">
                    </a>
                </div>

                <div class="p-itemright">

                    <div style="font-size:14px;font-weight:bold"><a href="{:U('mp3/'.$item['bookid'])}" title="{$item.bookname}" target="_blank">{$item.bookname}</a></div>
                    <div>类别：<a href="{:U('cate/'.$item['category_id'])}" title="{$category.name}" target="_blank">{$category.name}</a></div>
                    <div>状态：{$item.count}</div>
                    <div class="towline">{$item.description}</div>

                </div>
            </div>
            </volist>
        </div>
    </div>


</div>

<script>
    function FonHen_JieMa(u){
        var tArr = u.split("*");
        var str = '';
        for(var i=0,n=tArr.length;i<n;i++){
            str += String.fromCharCode(tArr[i]);
        }
        return str;
    }


    var encodevoice=FonHen_JieMa("{$encodevoice}")

    $("#jquery_jplayer_1").jPlayer({
        ready: function (event) {
            console.log(event)
            console.log($("#jquery_jplayer_1").data('jPlayer'));
            
            $(this).jPlayer("setMedia", {
                title: "Bubble",
                m4a:encodevoice,
                oga:encodevoice
            }).jPlayer("play");
        },
        swfPath: "../../dist/jplayer",
        supplied: "m4a, oga",
        wmode: "window",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,

        ended:function(){
            
            var href="{:U('video/'.$bookid.'-0-'.$next)}"
            window.location.href=href;
            
        }
    });

    

</script>


<div class="blank15"></div>

<include file="./Xiaoshuo/PC/View/Pc/footer.html" />