<include file="./Xiaoshuo/Youmi/View/Index/header.html" />


<body>

<div class="wrapper">
    <div class="header">
        <div class="headertop"></div>
        <div class="headermain"></div>
        <div class="headernav layui-bg-cyan">
            <volist name="category" id="item">
                <a href="">{$item.category}</a>
            </volist>
        </div>
    </div>

    <div class="content">
        <div class="categorylist clearfix">
            <div class="categorylist-box">
                <a href="" class="category-image"><img src="http://image.weishop.wang/wzxs/78513s.jpg" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="#" class="category-bookname">小说名称</a>
                        <span class="cateb-a">天才</span>
                    </div>
                    <div class="category-desc">啊啊拉阿拉蕾啊啊拉阿拉蕾</div>
                </div>
            </div>

            <div class="categorylist-box">
                <a href="" class="category-image"><img src="http://image.weishop.wang/wzxs/78513s.jpg" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="#" class="category-bookname">小说名称</a>
                        <span class="cateb-a">天才</span>
                    </div>
                    <div class="category-desc">啊啊拉阿拉蕾啊啊拉阿拉蕾</div>
                </div>
            </div>

            <div class="categorylist-box">
                <a href="" class="category-image"><img src="http://image.weishop.wang/wzxs/78513s.jpg" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="#" class="category-bookname">小说名称</a>
                        <span class="cateb-a">天才</span>
                    </div>
                    <div class="category-desc">啊啊拉阿拉蕾啊啊拉阿拉蕾</div>
                </div>
            </div>

            <div class="categorylist-box">
                <a href="" class="category-image"><img src="http://image.weishop.wang/wzxs/78513s.jpg" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="#" class="category-bookname">小说名称</a>
                        <span class="cateb-a">天才</span>
                    </div>
                    <div class="category-desc">啊啊拉阿拉蕾啊啊拉阿拉蕾</div>
                </div>
            </div>

            <div class="categorylist-box">
                <a href="" class="category-image"><img src="http://image.weishop.wang/wzxs/78513s.jpg" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="#" class="category-bookname">小说名称</a>
                        <span class="cateb-a">天才</span>
                    </div>
                    <div class="category-desc">啊啊拉阿拉蕾啊啊拉阿拉蕾</div>
                </div>
            </div>

            <div class="categorylist-box">
                <a href="" class="category-image"><img src="http://image.weishop.wang/wzxs/78513s.jpg" /></a>
                <div class="category-rightbox">
                    <div class="clearfix category-rightbox-t">
                        <a href="#" class="category-bookname">小说名称</a>
                        <span class="cateb-a">天才</span>
                    </div>
                    <div class="category-desc">啊啊拉阿拉蕾啊啊拉阿拉蕾</div>
                </div>
            </div>
        </div>
        <div class="contentfoot clearfix" style="margin:0">
            <div class="contentfoot-left  clearfix">
                <h2 class="right-title">最近更新小说列表</h2>
                <ul class="updatalist">
                    <li>
                        <span class="update-cate">玄幻玄幻
                        </span><a href="#" class="update-bookname">书本名称
                        </a><a href="" class="update-chaptername">拉拉阿拉蕾
                        </a><span class="update-bookauthor">作者
                        </span><span class="update-date">11-21</span>
                    </li>

                    <li>
                        <span class="update-cate">玄幻玄幻
                        </span><a href="#" class="update-bookname">书本名称
                    </a><a href="" class="update-chaptername">拉拉阿拉蕾
                    </a><span class="update-bookauthor">作者
                        </span><span class="update-date">11-21</span>
                    </li>

                    <li>
                        <span class="update-cate">玄幻玄幻
                        </span><a href="#" class="update-bookname">书本名称
                    </a><a href="" class="update-chaptername">拉拉阿拉蕾
                    </a><span class="update-bookauthor">作者
                        </span><span class="update-date">11-21</span>
                    </li>

                    <li>
                        <span class="update-cate">玄幻玄幻
                        </span><a href="#" class="update-bookname">书本名称
                    </a><a href="" class="update-chaptername">拉拉阿拉蕾
                    </a><span class="update-bookauthor">作者
                        </span><span class="update-date">11-21</span>
                    </li>

                    <li>
                        <span class="update-cate">玄幻玄幻
                        </span><a href="#" class="update-bookname">书本名称
                    </a><a href="" class="update-chaptername">拉拉阿拉蕾
                    </a><span class="update-bookauthor">作者
                        </span><span class="update-date">11-21</span>
                    </li>
                </ul>
            </div>
            <div class="contentfoot-right">
                <h2 class="right-title">最新入库小说</h2>

                <ul class="right-list">
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>
                    <li>
                        <a href="" class="right-bookname">拉拉
                        </a><a href="" class="right-author">作者</a>
                    </li>

                </ul>


            </div>
        </div>


    </div>


    <div class="footer">
        <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
        <p>Copyright © 2018 悠米小说 All Rights Reserved.</p>
    </div>
</div>


</body>
</html>